

	.ui-panel {
		-webkit-box-shadow: 5px 0 5px rgba(0,0,0,.15);
		-moz-box-shadow: 5px 0 5px rgba(0,0,0,.15);
		box-shadow: 5px 0 5px rgba(0,0,0,.15);
		background-color: rgba(0,0,0,.85);
		top: 44;
	}
	
	#historyGraphBtn .ui-btn{
		padding: .7em .8em;
	}
			

ul.list_viewer{ margin-top: 20px; margin-left: 2%; margin-right: 2%}
li.list_container {background: #f3f3f3; font-family: Helvetica;}
li.list_container .max-width {max-width:300px; margin: auto;}
li.list_container .max-width h3{line-height: 1.3em; font-size: 20px; color: #4D4D4D; text-align: center;}

#spending_now_container{max-width:300px; height: 130px; margin: 10px auto; position:relative;}
#spending_now_container img { top:15; left:10; width:55px; height:120px; position: absolute;}
#spending_now_container span { letter-spacing: 0; color:#66aad7; font-size: 2.7em; position:absolute; top:35; left:90; font-weight: bolder;}

#spend_so_far_today {max-width:300px; margin: auto;  font-family: Helvetica; color: #4D4D4D;}
#spend_so_far_today h3{line-height: 1.3em; font-size: 20px; text-align: left;}
#spend_so_far_today h4{line-height: 1.5em; font-size: 40px; text-align: right;}


.progress{
height: 20px;
margin-bottom: 20px;
overflow: hidden;
background-color: #f5f5f5;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-success {
background-color: #5cb85c;
}

.progress-bar-info {
background-color: #5bc0de;
}

.progress-bar-warning {
background-color: #f0ad4e;
}

.progress-bar-danger {
background-color: #d9534f;
}

.progress-bar {
float: left;
width: 0;
height: 100%;
font-size: 12px;
line-height: 20px;
color: #fff;
text-align: center;
/*background-color: #428bca;*/
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
-webkit-transition: width .6s ease;
-o-transition: width .6s ease;
transition: width .6s ease;
}